<div class="followings">
  <div class="name users-show-name text-center">
      <h1><%= @user.name %></h1>
  </div>
  <div class="follow-users">
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    フォロワー<span class="badge badge-color"><%= @count_followers %></span>
  </div>
  <%= render 'users', users: @followers %>
</div>