<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>あなただけのレシピボックス</h1>
        <p>お気に入りレシピをストックしよう</p>
        <% unless logged_in? %>
          <%= link_to 'RecipeBoxを始める', signup_path, class:"btn btn-success btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if logged_in? %>
  <%= render 'recipes/recipes_short', recipes: @recipes %>
<% end %>