<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>レシピボックス</h1>
        <p>Save Your Favorites.</p>
        <h2>Create Your "RecipeBox"</h2>
        <% unless logged_in? %>
          <%= link_to 'RecipeBoxを始める', signup_path, class:"btn btn-success btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'recipes/recipes_short', recipes: @recipes %>