<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>レシピボックス</h1>
        <p>”あの味”、残しませんか？</p>
        <h2>もっと気軽にレジピ保存を。</h2>
        <% unless logged_in? %>
          <%= link_to 'RecipeBoxを始める（新規登録）', signup_path, class:"btn btn-new btn-md" %>
          <%= link_to 'ログイン（登録済の方はこちら）', login_path, class: "btn btn-login btn-md" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'recipes/recipes_short', recipes: @recipes %>