@charset "utf-8";

/* body */
body {
  background: #928178;
}

footer {
  margin-top: 100px;
}

/* navbar */
.navbar {
  background-color: #fcd575;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

.navbar-brand{
  padding-left: 20px;
  font-family: 'Walter Turncoat', cursive;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: url("/images/cover-img.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 85%;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
  margin: auto;
  display: table;
  background: rgba(255,255,255,0.5);
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.cover .cover-inner .cover-contents h1 {
  font-family: "Nikukyu";
  font-size: 38.8px;
  margin: 20px auto 0px;
  color: #6a5959;
  text-shadow: 4px 2px 0px #ffcccc;
}

.cover .cover-inner .cover-contents p {
  font-family: 'Kokoro';
  font-size: 16px;
  letter-spacing: .28em;
  margin-top: 28px;
  margin-bottom: 10px;
}

.cover .cover-inner .cover-contents h2 {
  font-family: "Sawarabi Gothic";
  letter-spacing: .17em;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 28px;
}

.btn::before,
.btn::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.btn,
.btn::before,
.btn::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-new {
  background-color: #f09199;
  color: #460e44;
  font-weight: bold;
}

.btn-new:hover {
  background-color: #f4b3c2;
}

.btn-login {
  background-color: #93ca76;
  color: #460e44;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #e0ebaf;
}

.btn-name {
  background-color: #93ca76;
  color: #460e44;
  font-weight: bold;
}

.btn-name:hover {
  background-color: #e0ebaf;
}

.btn-show {
  background-color: #fcd575;
  text-align: center;
  color: #460e44;
}

.btn-show:hover {
  background-color: #fff1cf;
}

.btn-new-recipe {
  background-color: #f09199;
  color: #460e44;
  font-weight: bold;
}

.btn-new-recipe:hover {
  background-color: #f4b3c2;
}

.btn-mypage {
  background-color: #93ca76;
  color: #460e44;
  font-weight: bold;
}

.btn-mypage:hover {
  background-color: #e0ebaf;
}

.btn-follow {
  background-color: #fdeff2;
  color: #460e44;
}

.btn-follow:hover {
  background-color: #f4b3c2;
}

.btn-unfollow {
  background-color: #f09199;
  color: #460e44;
  font-weight: bold;
}

.btn-unfollow:hover {
  background-color: #f4b3c2;
}

.recipe-title {
  font-family: "Sawarabi Gothic Josefin Slab", serif;
}

.h3-instractions {
  font-family: "Sawarabi Gothic";
}

.user-login {
  margin-top: 30px;
}

.create-user {
  margin-top: 30px;
}

.user-show-body {
  padding-top: 30px;
}

.well-color {
  background: #fff;
}

.user-count {
  padding-top: 10px;
  margin: 15px auto 0;
}

.user-count ul {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
  list-style-type: none!important;/*ポチ消す*/
}

.user-count ul li { 
  line-height: 1.5;
  padding: 0.5em 0;
  font-weight: bold;
  text-align: center;
}

.badge-color {
  background-color: #fcd575;
  color: #460e44;
}

.well-users {
  display: block;
  width: 100%;
}

.users-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border-radius: 9px;
  margin-bottom: 30px;
}

.users-ul li {
  display: table-cell;
  vertical-align: middle;
  color: #460e44;
}

.follow-users {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border-radius: 9px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.users-name {
  font-weight: bold;
  font-size: 20px;
  color: #460e44;
}